{% extends 'base.html.twig' %}

{% block title %}Add contact info{% endblock %}
{% block body %}
    <div class="row d-flex justify-content-center" style="margin: 50px 0">
        <div class="col-6" style="padding: 25px; border: solid #ced4da 1px">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}